#header {
    position: fixed;
    margin-left: 4rem; 
    margin-right: 4rem; 
    top: 0px;
    left: 0px;
    height: 5rem;
    width: calc(100vw - 8rem);
    background: #ffffff;
}

#articho_logo {
    position: absolute;
    background: url("../../resources/statics/articho/articho_logo.svg") center/cover no-repeat;
    background-size: 100%;
    width: 14rem;
    height: 100%;
    cursor: pointer;
    border: none;
    outline: none;
}

#header_tab {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
#header_tab a {
    background-color: #ffffff;
    color: #213589;
    font-family: 'Faune-Bold', sans-serif;
    font-size: 1.1rem;
    border: none;
    padding: 0 0.5rem;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
#header_tab a.selected {
    background: url("../../resources/statics/assets/button_selected.png") center/cover no-repeat;
    background-size: 6rem;
    background-position-y: bottom;
    color: #152259;
    font-weight: normal;
}
#header_tab a:hover,
a:focus {
    color: #152259;
    font-weight: normal;
}
.sep {
    color: #213589;
    font-family: 'Faune-Bold', sans-serif;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

