
/* Faune Display Black */
@font-face {
    font-family: 'Faune-Black';
    src: url('../../resources/fonts/faune.display-black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Faune Display Bold Italic */
@font-face {
    font-family: 'Faune-BoldItalic';
    src: url('../../resources/fonts/faune.display-bold-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Faune Display Thin */
@font-face {
    font-family: 'Faune-Thin';
    src: url('../../resources/fonts/faune.display-thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Faune Text Bold */
@font-face {
    font-family: 'Faune-Bold';
    src: url('../../resources/fonts/faune.text-bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Faune Text Italic */
@font-face {
    font-family: 'Faune-Italic';
    src: url('../../resources/fonts/faune.text-italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* Faune Text Regular */
@font-face {
    font-family: 'Faune-Regular';
    src: url('../../resources/fonts/faune.text-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #213589;
    font-family: 'Faune-Regular', sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Faune-Bold', sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0rem;
}

h2 {
    font-family: 'Faune-Black', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0rem;
}

h3 {
    font-family: 'Faune-BoldItalic', sans-serif;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
}

h4 {
    font-family: 'Faune-Bold', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.2rem;
}

p {
    margin-top: -0.1rem;
    margin-bottom: 0rem;
}




a {
    color: #213589;
    text-decoration: none;
}
a:focus {
    color: #213589;
    text-decoration: none;
}
a:hover {
    color: #152259;
    text-decoration: none;
}

.bunch {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

button {
    font: inherit;
    border: none;
    min-width: 2rem;
    padding: 0 0.4rem;
    margin: 0;
    background-color: transparent;
    cursor: pointer;
    color: #89898a;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
}
button.selected {
    color: #060508;
    font-weight: bold;
}
button:hover,
a:focus,
a:hover {
    font-weight: normal;
    color: #060508;
}

button.selected .notif,
button:hover .notif {
    position: absolute;
    top: 0.25rem;
    right: -0.05rem;
    transform: translateY(-50%);
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 1rem/1rem;
    background: red;
    border: solid 2px #ffffff;
    color: white;
    display: inline-block;
}



.container {
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}






#container_gallery {
    height: calc(100vh - 2rem);
    flex: 1;
    overflow-y: auto;
    margin-top: 1rem;
}

.gallery {
    transition: all 0.3s ease;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(15vw, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    height: 2500px;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.horizontal {
    grid-column: span 2;
}
.vertical {
    grid-row: span 2;
}


.gallery-item {
    border: 3px solid #ffffff;
    background-color: #ffffff;
    padding: 1ch 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.gallery-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item span {
    position: relative;
    z-index: 1;
    color: #060508;
}



@media (max-width: 768px) {
    /* #back { */
    /* flex-direction: column; */
    /* align-items: stretch; */
    /* }  */

    .gallery {
	width: 100vw;
	margin-left: 20px;
	top: 100vw;
    }
} 
