
<a id="ateliers_subtab-ateliers_sur-mesures" class="tab" href="/pages/ateliers/ateliers_sur-mesures.html"
   onclick="selectTab(['header_tab-ateliers', 'header_subtab-ateliers_sur-mesures', 'ateliers_subtab-ateliers_sur-mesures'])">
    <span>Ateliers sur-mesures</span>
</a>

<a id="ateliers_subtab-notre_offre" class="tab" href="/pages/ateliers/notre_offre.html"
   onclick="selectTab(['header_tab-ateliers', 'header_subtab-notre_offre', 'ateliers_subtab-notre_offre'])">
    <span>Notre offre</span>
</a>
