<div id="container_footer">

    <div id="container_info_social_copyright">

	<div id="container_space_social">
	    <div id="container_space"></div>
	    <div id="footer_social">
		<a id="footer_social_instagram" href="https://www.instagram.com/collectif.articho/" target="_blank">
		    <img src="../resources/statics/social/icon-instagram.svg"
			 onmouseover="changeImage(this, '_hover');"
			 onmouseout="restoreImage(this, '_hover');">
		</a>
		<a id="footer_social_facebook" href="https://www.facebook.com/collectifarticho/" target="_blank">
		    <img src="../resources/statics/social/icon-facebook.svg"
			 onmouseover="changeImage(this, '_hover');"
			 onmouseout="restoreImage(this, '_hover');">
		</a>
		<a id="footer_social_linkedin" href="https://fr.linkedin.com/company/collectif-arti-ch%C3%B4" target="_blank">
		    <img src="../resources/statics/social/icon-linkedin.svg"
			 onmouseover="changeImage(this, '_hover');"
			 onmouseout="restoreImage(this, '_hover');">
		</a>
	    </div>
	</div> 

	<div id="footer_line"></div>
	
	<div id="container_info_copyright">	    
	    <div id="footer_info">
		<a id="footer_info_a_propos">
		    <span>À propos</span>
		</a>
		<a id="footer_info_mentions_legales" href="../pages/mentions_legales.html">
		    <span>Mentions légales</span>
		</a>
		<a id="footer_info_CGU">
		    <span>Conditions générales</span>
		</a>
		<a id="footer_info_contact" href="../pages/contact.html" onclick="selectTab('header_tab_contact')">
		    <span>Contact</span>
		</a>
	    </div>

	    <div id="footer_copyright">
		<span>2024 ARTI/CHÔ</span>
	    </div>
	</div>
	

    </div>

    
    <div id="container_articho" href="../pages/contact.html">
	<div id="footer_articho">
	    <img src="../resources/statics/articho/articho_grey_outlined.svg">
	</div>

	<a href="../pages/contact.html" onclick="selectTab('header_tab_contact')">
	    <div id="footer_rejoindre">
		<h1>DEVENIR MEMBRE DU 
		    CHOEUR D’ARTI/CHÔ</h1>
		<p>Rejoindre l’association pour aider le collectif ou participer à des chantiers collectif</p>
	    </div>
	</a>
    </div>
    
   


</div>
