<a id="articho_logo" href="/index.html">
</a>
<div id="header_tab">
    
    <div onmouseover="showMenu('menu_projets')" onmouseleave="hideMenu('menu_projets')">
        <a id="header_tab-projets" class="tab" href="/pages/projets.html">
	    <span>Projets</span>
        </a>
        <div id="menu_projets" class="menu" onmouseover="showMenu('menu_projets')" onmouseleave="hideMenu('menu_projets')">
            <div id="container_menu">
		<a id="header_subtab-amenagements" class="subtab" href="/pages/projets/amenagements.html">
		    <span>Aménagements</span>
		</a>
		<a id="header_subtab-microarchitectures" class="subtab" href="/pages/projets/microarchitectures.html">
                    <span>Microarchitectures</span>
                </a>
		<a id="header_subtab-signaletiques" class="subtab" href="/pages/projets/signaletiques.html">
		    <span>Signalétiques</span>
		</a>
                <a id="header_subtab-chantiers_participatifs" class="subtab" href="/pages/projets/chantiers_participatifs.html">
                    <span>Chantiers participatifs</span>
                </a>
            </div>
        </div>
    </div>
    
    
    <div onmouseover="showMenu('menu_mobiliers')" onmouseleave="hideMenu('menu_mobiliers')">
        <a id="header_tab-mobiliers" class="tab" href="/pages/mobiliers.html">
	    <span>Mobiliers</span>
        </a>
        <div id="menu_mobiliers" class="menu" onmouseover="showMenu('menu_mobiliers')" onmouseleave="hideMenu('menu_mobiliers')">
            <div id="container_menu">
		<a id="header_subtab-agencements" class="subtab" href="/pages/mobiliers/agencements.html">
		    <span>Agencements</span>
		</a>
		<a id="header_subtab-ligne_de_mobilier" class="subtab" href="/pages/mobiliers/ligne_de_mobilier.html">
                    <span>Ligne de mobilier</span>
                </a>
            </div>
        </div>
    </div>


    <div onmouseover="showMenu('menu_ateliers')" onmouseleave="hideMenu('menu_ateliers')">
        <a id="header_tab-ateliers" class="tab" href="/pages/ateliers.html">
	    <span>Ateliers</span>
        </a>
        <div id="menu_ateliers" class="menu" onmouseover="showMenu('menu_ateliers')" onmouseleave="hideMenu('menu_ateliers')">
            <div id="container_menu">
		<a id="header_subtab-ateliers_sur-mesures" class="subtab" href="/pages/ateliers/ateliers_sur-mesures.html">
		    <span>Ateliers sur-mesures</span>
		</a>
		<a id="header_subtab-notre_offre" class="subtab" href="/pages/ateliers/notre_offre.html">
                    <span>Notre offre</span>
                </a>
            </div>
        </div>
    </div>
    
    
    <a id="header_tab-contact" class="tab" href="/pages/contact.html">
	<span>Nous contacter</span>
    </a>
    
</div>





