
<a id="mobiliers_subtab-agencements" class="tab" href="/pages/mobiliers/agencements.html"
   onclick="selectTab(['header_tab-mobiliers', 'header_subtab-agencements', 'mobiliers_subtab-agencements'])">
    <span>Agencements</span>
</a>

<a id="mobiliers_subtab-ligne_de_mobilier" class="tab" href="/pages/mobiliers/ligne_de_mobilier.html"
   onclick="selectTab(['header_tab-mobiliers', 'header_subtab-ligne_de_mobilier', 'mobiliers_subtab-ligne_de_mobilier'])">
    <span>Ligne de mobilier</span>
</a>
