<a id="projets_subtab-projets" class="tab" href="/pages/projets.html">
    <span>Tout</span>
</a>

<a id="projets_subtab-amenagements" class="tab" href="/pages/projets/amenagements.html">
    <span>Aménagements</span>
</a>

<a id="projets_subtab-microarchitectures" class="tab" href="/pages/projets/microarchitectures.html">
    <span>Microarchitectures</span>
</a>

<a id="projets_subtab-signaletique" class="tab" href="/pages/projets/signaletiques.html">
    <span>Signalétiques</span>
</a>

<a id="projets_subtab-chantiers-participatifs" class="tab" href="/pages/projets/chantiers-participatifs.html">
    <span>Chantiers participatifs</span>
</a>

<a id="projets_subtab-demarche-experimentale" class="tab" href="/pages/projets/demarche-experimentale.html">
    <span>Démarche expérimentale</span>
</a>
