<a id="projets" class="tab" href="/pages/projets.html"
   onclick="selectTab(['header_tab-projets', 'projets'])">
    <span>Tout</span>
</a>

<a id="projets_subtab-amenagements" class="tab" href="/pages/projets/amenagements.html"
   onclick="selectTab(['header_tab-projets', 'header_subtab-amenagements', 'projets_subtab-amenagements'])">
    <span>Aménagements</span>
</a>

<a id="projets_subtab-microarchitectures" class="tab" href="/pages/projets/microarchitectures.html"
   onclick="selectTab(['header_tab-projets', 'header_subtab-microarchitectures', 'projets_subtab-microarchitectures'])">
    <span>Microarchitectures</span>
</a>

<a id="projets_subtab-signaletique" class="tab" href="/pages/projets/signaletiques.html"
   onclick="selectTab(['header_tab-projets', 'header_subtab-signaletiques', 'projets_subtab-signaletique'])">
    <span>Signalétiques</span>
</a>

<a id="projets_subtab-chantiers_participatifs" class="tab" href="/pages/projets/chantiers_participatifs.html"
   onclick="selectTab(['header_tab-projets', 'header_subtab-chantiers_participatifs', 'projets_subtab-chantiers_participatifs'])">
    <span>Chantiers participatifs</span>
</a>
